In [7]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import seaborn as sns
from imblearn.over_sampling import SMOTE

In [ ]:
trainDataset = pd.read_csv('train.csv') ; testDataset = pd.read_csv('test.csv')

Seeing the number of unique values in each column

In [9]:
for x in trainDataset.columns:
    print(f'For the column {x} there are {trainDataset[x].nunique()} unique values')

For the column index there are 6256 unique values
For the column Address there are 3223 unique values
For the column Possesion there are 1 unique values
For the column Furnishing there are 3 unique values
For the column Buildup_area there are 944 unique values
For the column Carpet_area there are 2520 unique values
For the column Bathrooms there are 85 unique values
For the column Property_age there are 46 unique values
For the column Parking there are 10 unique values
For the column Price there are 755 unique values
For the column Brokerage there are 1517 unique values
For the column Floor there are 125 unique values
For the column Per_sqft_price there are 2501 unique values
For the column BHK there are 9 unique values
For the column Total_bedrooms there are 27 unique values

performing detailed statistical analysis on numerical columns , including calculations for mean , standard deviation , min ,max and percentiles

In [14]:
trainDataset.describe()

,index,Buildup_area,Carpet_area,Bathrooms,Property_age,Parking,Price,Brokerage,Floor,Per_sqft_price,BHK,Total_bedrooms
count,6256.000000,6256.000000,6256.000000,6256.000000,6256.000000,6256.000000,6.256000e+03,6.256000e+03,6256.000000,6256.000000,6256.000000,6256.000000
mean,4879.818894,1120.690537,864.869801,1.968057,7.519661,1.298593,3.057852e+07,1.148133e+07,19.885595,23415.351551,2.159527,2.206878
std,2770.439333,735.147038,583.283918,0.911779,7.374092,0.797501,3.790301e+07,3.164281e+07,13.951480,13067.308580,1.002020,0.985628
min,1.000000,180.000000,150.000000,1.000000,1.000000,0.000000,7.800000e+05,0.000000e+00,2.000000,1440.000000,1.000000,1.000000
25%,2494.750000,650.000000,475.000000,1.000000,2.000000,1.000000,1.050000e+07,1.000000e+05,10.000000,15657.500000,1.000000,2.000000
50%,4920.500000,950.000000,708.315583,2.000000,5.000000,1.000000,1.920000e+07,2.500000e+05,16.000000,21355.000000,2.000000,2.000000
75%,7276.250000,1325.000000,1050.000000,2.000000,10.000000,2.000000,3.500000e+07,1.100000e+07,23.000000,28792.500000,3.000000,3.000000
max,9546.000000,15000.000000,14000.000000,10.000000,99.000000,9.000000,5.000000e+08,5.000000e+08,99.000000,100000.000000,10.000000,10.000000